@charset "utf-8";
/* CSS Document */

body {
  font-family: Helvetica;
  margin: 20px;
  padding: 10px;
  background-color: #003d6b;
	border: solid #E3E3E3;
	border-radius: 8px;  
}

#datos_usuario{
	padding: 10px;
	float:right;
}
h1 {
  color: #F6F6F6;
  padding: 10px;
  font-size: 35px;
  margin-bottom: 10px;
  text-align: left;
}

.section {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid #D7CECE;
}

h2 {
  color: #004f6d;
  margin-bottom: 10px;
}
h3 {
  color: #F6F6F6;
  padding: 10px;
  font-size: 27px;
  margin-bottom: 10px;
  text-align: center;
}
h4 {
  color: #F6F6F6;
}
p {
  margin-bottom: 10px;
  color: #0C0000;
}
#profile-picture {
	width: 85%;
  	padding: 10px;
	text-align: center;
  	margin-bottom: 10px;
}

#profile-picture img {
  max-width: 200px;
  border-radius: 50%;
  border: solid #E3E3E3;	
}
.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  float: left;
  border: solid #E3E3E3;
}

.column {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	
}
